@model HC.Models.CCGs

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CCGs</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CCGID)
        @Html.Hidden("HistoriaClinicaID")

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DatePickerFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tci, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tci)
                @Html.ValidationMessageFor(model => model.Tci)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Da, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Da)
                @Html.ValidationMessageFor(model => model.Da)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cx, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cx)
                @Html.ValidationMessageFor(model => model.Cx)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cd)
                @Html.ValidationMessageFor(model => model.Cd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conclusion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Conclusion)
                @Html.ValidationMessageFor(model => model.Conclusion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
