@model IEnumerable<HC.Models.Consultas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Listado</h2>
<p>
    @Html.ActionLink("Nueva Consulta", "Create", new object { }, new { @class = "btn btn-info btn-sm active" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotivoConsulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoFisico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Indicaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotivoConsulta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoFisico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Indicaciones)
        </td>
        <td>
            <div class="btn-group btn-group-sm">
                @Html.ActionLink("Editar", "SetConsultaID", new { id = item.ConsultaID, op = 'E' }, new { @class = "btn btn-info " })
                @Html.ActionLink("Detalle", "SetConsultaID", new { id = item.ConsultaID, op = 'D' }, new { @class = "btn btn-info" })
                @Html.ActionLink("Borrar", "SetConsultaID", new { id = item.ConsultaID, op = 'B' }, new { @class = "btn btn-info" })
            </div>
        </td>
    </tr>
}

</table>