@model HC.Models.Laboratorios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Laboratorios</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pq)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pq)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Na)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Na)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.K)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.K)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Glucosa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glucosa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HbGlicosilada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HbGlicosilada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Col)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Col)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hdl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hdl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LdlTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LdlTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creatinina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creatinina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LaboratorioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
